/* .layout-container{
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: relative;
    overflow: hidden;
}
.navbar-container{
    height: 8vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: white;
}
.footer-container{
  position: absolute;
    bottom: 0;
    height: 22vh;
    width: 100vw;
    background-color: #0C21C1;   
}
.content-container{
    height: 70vh;
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 8vh;
    overflow-y: scroll;

} */

.layout-container {
    height: 100vh;
    width: 100vw;
    background-color: blue;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.navbar-container {
    height: 10vh;
    width: 100vw;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100; 
}

.footer-container {
    height: 38vh;
    width: 100vw;
    background-color: #0C21C1;
}

.content-container {
    min-height: 70vh;
    width: 100vw;
    background-color: white;

    
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    .content-container {
        min-height: 70vh;
        width: 100vw;
        background-color: white;
        margin-top: 58px;   
    }
}

