.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav2{
    display: flex;
    column-gap: 6vw;
    font-family: Rubik;
    font-size: 2vw;
    font-weight: 400;
    line-height: 28.44px;
    
}

.nav3{
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-right: 30px;
    font-weight: 400;
    font-family: Rubik;
    font-size: 2vw;
}
.singup-btn{
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: #0C21C1;
    color: white;
    font-size: 2vw;
}
.nav1{
    margin-left: 30px;
    
}
.linka-ico{
    font-size: 3vw;
    font-family: 'Rajdhani';
    color: #0C21C1;
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
    .linka-ico{
        font-size: 5vw !important;
        
        
    }
    .p-br-p{
        width: 120px;
    }
    .nav2{
        font-size: 0.7rem;
        margin-left: 4vw;
        display: flex;
        column-gap: 2vw;
        font-family: Rubik;
        align-items: center;
        
        
    }
    .nav3{
        display: flex;
        column-gap: 2vw;
        align-items: center;
        font-weight: 400;
        font-family: Rubik;
        font-size: 0.7rem;
    }
    .navbar-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .singup-btn{
        padding: 2vw 4vw;
        border-radius: 5px;
        border: none;
        font-size: 3vw;
        background-color: #0C21C1;
        color: white;
    }
  }